[package]
name = "flux-lsp"
version = "0.2.2"
authors = ["Brandon Farmer <bthesorceror@gmail.com>"]
edition = "2018"
license = "MIT"
description = "LSP support for the flux language"
repository = "https://github.com/influxdata/flux-lsp"

[lib]
name = "flux_lsp"
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde_json = "1.0"
serde_repr = "0.1"
serde = { version = "1.0.104", features = ["derive"] }
flux = { git = "https://github.com/influxdata/flux", rev = "4827c2b" }
libstd = { git = "https://github.com/influxdata/flux", rev = "4827c2b" }
url = "2.1.1"
lazy_static = "1.4.0"
wasm-bindgen = "0.2.58"

[dev-dependencies]
speculate = "0.1.2"
