[package]
name = "flux-lsp"
version = "0.5.51"
authors = ["Flux Developers <flux-developers@influxdata.com>"]
edition = "2018"
license = "MIT"
description = "LSP support for the flux language"
repository = "https://github.com/influxdata/flux-lsp"

[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-Oz", "--enable-mutable-globals"]

[features]
default = ["strict"]
strict = []

[lib]
name = "flux_lsp"
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"

[[bin]]
name = "flux-lsp"
test = false
bench = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.50"
clap = "2.33.3"
combinations = "0.1.0"
flux = { git = "https://github.com/influxdata/flux", tag = "v0.119.1" }
futures = "0.3.15"
js-sys = "0.3.51"
line-col = "0.2.1"
log = "0.4.14"
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
serde_repr = "0.1.7"
simplelog = "0.10.0"
tokio = { version = "1.7.1", features = ["io-std", "macros", "rt", "rt-multi-thread"] }
url = "2.2.2"
wasm-bindgen = "0.2.74"
wasm-bindgen-futures = "0.4.24"
web-sys = { version = "0.3.51", features = ["console"] }

lspower = "1.1.0"

[dev-dependencies]
futures = "0.3.15"
tokio-test = "*"
