[package]
name = "flux-lsp"
version = "0.1.0"
authors = ["Brandon Farmer <bthesorceror@gmail.com>"]
edition = "2018"

[lib]
name = "flux_lsp_lib"
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"

[[bin]]
name = "flux-lsp"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde_json = "1.0"
clap = "2.31.2"
serde = { version = "1.0.101", features = ["derive"] }
flux = { git = "https://github.com/influxdata/flux", rev = "91e6a79" }
url = "2.1.0"
lazy_static = "1.4.0"
wasm-bindgen = "0.2.55"
