version: 2.1

jobs:
  lint:
    docker:
      - image: quay.io/influxdb/wasm-build
    steps:
      - checkout
      - run:
          name: "run rustfmt"
          command: cargo fmt --all -- --check
      - run:
          name: "run lint"
          command: |
            cargo clippy --locked -- -Dclippy::all
            cargo clippy --no-default-features --features=wasm

  test:
    docker:
      - image: quay.io/influxdb/wasm-build
    steps:
      - checkout
      - run:
          name: "run cargo tests"
          command: |
            cargo test --locked
            cargo test --no-default-features --features=wasm

  bench-test:
    docker:
      - image: quay.io/influxdb/wasm-build
    steps:
      - checkout
      - run:
          name: "run cargo bench"
          command: cargo bench

  wasm-test:
    docker:
      - image: quay.io/influxdb/wasm-build
    resource_class: large
    steps:
      - checkout
      - run:
          name: "run tests"
          command: wasm-pack test --node -- --locked
      - run:
          name: "run node integration tests"
          command: cd integration && BUILD_MODE=release npm run test

  build:
    docker:
      - image: quay.io/influxdb/wasm-build
    resource_class: large
    steps:
      - checkout
      - run: cargo build --locked --verbose

  wasm-build:
    docker:
      - image: quay.io/influxdb/wasm-build
    resource_class: large
    steps:
      - checkout
      - run: BUILD_MODE=release AR=llvm-ar ./wasm-build.sh


  deploy:
    docker:
      - image: quay.io/influxdb/wasm-build
    resource_class: large
    steps:
      - checkout
      - run: |
          BUILD_MODE=release AR=llvm-ar ./wasm-build.sh
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > target/pkg-node/.npmrc
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > target/pkg-browser/.npmrc
          ./publish.sh


workflows:
  version: 2.1
  build-and-test:
    jobs:
      - lint
      - build
      - wasm-build
      - test
      - wasm-test
      - bench-test

  build-and-deploy:
    jobs:
      - deploy:
          filters:
            tags:
              only: /^v?([0-9]+\.)+[0-9]+$/
            branches:
              ignore: /.*/
