version: 2.1

commands:
  install-linux-deps:
    description: install flux-lsp dependencies
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install ragel llvm clang libclang-dev

jobs:
  lint:
    docker:
      - image: circleci/rust:1.39-stretch
    steps:
      - checkout
      - install-linux-deps
      - run:
          name: "install rustfmt"
          command: rustup component add rustfmt
      - run:
          name: "run rustfmt"
          command: cargo fmt --all -- --check
      - run:
          name: "install clippy"
          command: rustup component add clippy
      - run:
          name: "run lint"
          command: cargo clippy --all -- -D warnings

  test:
    docker:
      - image: circleci/rust:1.39-stretch
    steps:
      - install-linux-deps
      - checkout
      - install-linux-deps
      - run:
          name: "run tests"
          command: cargo test -- --test-threads=1

  build:
    docker:
      - image: circleci/rust:1.39-stretch
    steps:
      - checkout
      - install-linux-deps
      - run: cargo build --verbose

workflows:
  version: 2.1
  build-and-test:
    jobs:
      - lint
      - test:
          requires:
            - lint
      - build:
          requires:
            - lint
