version: 2.1

jobs:
  lint:
    docker:
      - image: quay.io/influxdb/wasm-build
    steps:
      - checkout
      - run:
          name: "run rustfmt"
          command: cargo fmt --all -- --check
      - run:
          name: "run lint"
          command: cargo clippy --all -- -Dclippy::all

  test:
    docker:
      - image: quay.io/influxdb/wasm-build
    steps:
      - checkout
      - run:
          name: "run tests"
          command: |
            cargo test
            cargo test --features lsp2

  build:
    docker:
      - image: quay.io/influxdb/wasm-build
    steps:
      - checkout
      - run: |
          cargo build --verbose
          cargo build --features lsp2 --verbose
      - run: |
          make wasm
          LSP2=1 make wasm

  test-integration:
    docker:
      - image: quay.io/influxdb/wasm-build
    steps:
      - checkout
      - run:
          name: "run tests"
          command: |
            cd integration
            npm install -f  # Force, because fsevents
            npm test
            # XXX: rockstar (22 Jul 2021) - Enabling the `lsp2` feature flag
            # does not enable a wasm binary, currently. That will have to be
            # followed up.
            # LSP2=1 npm test

  deploy:
    docker:
      - image: quay.io/influxdb/wasm-build
    steps:
      - checkout
      - run: make wasm
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > pkg-node/.npmrc
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > pkg-browser/.npmrc
      - run: make publish


workflows:
  version: 2.1
  build-and-test:
    jobs:
      - lint
      - build
      - test
      - test-integration

  build-and-deploy:
    jobs:
      - deploy:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
